# Node modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
coverage/
.cache/
.eslintcache

# Optional: if using React Native or Expo
.expo/
*.expo-shared/
